Language: Cpp
IndentWidth: 4
# Don't wrap comments for C/C++
AlignTrailingComments: false
# Use 80 columns for C/C++.
ColumnLimit: 80
# Force pointers to the type for C/C++.
DerivePointerAlignment: false
PointerAlignment: Left
# Remove spaces after control statements for C/C++.
SpaceBeforeParens: false